body {
	font-family: arial, sans-serif;
}
h1{
	colour: blue;
}
p{
	border-style: solid;
	border-color: red;
	border-width: 5px;
}
a{
	color: green;
	text-decoration: none;
	background-color: lightgrey;
}
